@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;

  --color-brand: #c8410b;
  --color-brand-light: #faeee8;
  --color-brand-mid: #e8652a;
  --color-brand-dark: #8b2c05;

  --color-cream: #fdf8f3;
  --color-warm-gray: #6b5b52;
  --color-border: #e8ddd7;

  --color-text: #1a1108;
  --color-text-muted: #7a6860;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
